.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-horizontal {
   display: flex;
   flex: 1 1 auto;
}
blockquote {
    padding-left: 15px;
    padding-right: 15px;
    text-indent: -0.45em;
    font-style: italic;
    font-family: Georgia;
    quotes: "“" "”" "‘" "’";
}
@supports ( hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
div.quote-origin {
    margin-top: -5px;
    padding-right: 15px;
    text-align: right;
    margin-bottom: 10px;
}

.badge-anonym {
    border-radius: 5px;
    font-weight: bold; 
    font-size: smaller;
    padding: 5px;
}
.badge-anonym-meist {
    background-color: #ff8c00;
}

.badge-anonym-immer {
    background-color: #006400;
    color: white; 
}
.badge-anonym-nie {
    background-color: #8b0000;
    color: white; 
}
#legend_badges {
    font-size: smaller;
}
#legend_badges td {
    vertical-align: top;
}
#legend_badges tr {
    border-top: 1px solid #ccc;
}
#legend_badges td {
    padding-top: 5px;
    padding-bottom: 5px;
}

button.btn {
    margin: 5px;
}

/* MAP */
#map_container {
    height: 600px; 
}
.maplegend {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
}

/* Scenario */ 
.scenario-field {
    margin: 2px;
    width: 30px; 
    height: 30px; 
    display: inline-block;
}
.scenario-field-example {
    margin: 0px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.scenario-info {
    display:block;
    margin: 5px;
    font-size: smaller;
}
.scenario-field-luca {
    background-color: #abb8c3;
}
.scenario-field-cwa {
    background-image: linear-gradient(to right,#80cdec 29%,#c00f2d 126%,#c00f2d 126%);
}
.scenario-field.warned {
    border: 5px solid darkred; 

    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
  }
@keyframes blinking {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: darkred;
    }
    100% {
        border-color: transparent;
    }
}
.scenario-field.warned-green {
    border: 5px solid darkorange; 

    animation-name: blinking-green;
    animation-duration: 1s;
    animation-iteration-count: 100;
  }
@keyframes blinking-green {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: darkorange;
    }
    100% {
        border-color: transparent;
    }
}
.scenario-field.warner {
    border: 6px dotted orange; 
}
.scenario-explain {
    font-style: italic;
}