.card {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-horizontal {
   display: flex;
   flex: 1 1 auto;
}
blockquote {
    padding-left: 15px;
    padding-right: 15px;
    text-indent: -0.45em;
    font-style: italic;
    font-family: Georgia;
    quotes: "“" "”" "‘" "’";
}
@supports ( hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
div.quote-origin {
    margin-top: -5px;
    padding-right: 15px;
    text-align: right;
    margin-bottom: 10px;
}

.badge-anonym {
    border-radius: 5px;
    font-weight: bold; 
    font-size: smaller;
    padding: 5px;
}
.badge-anonym-meist {
    background-color: #ff8c00;
}

.badge-anonym-immer {
    background-color: #006400;
    color: white; 
}
.badge-anonym-nie {
    background-color: #8b0000;
    color: white; 
}

button.btn {
    margin: 5px;
}

/* MAP */
#map_container {
    height: 600px; 
}

/* Scenario */ 
.scenario-field {
    margin: 2px;
    width: 30px; 
    height: 30px; 
    display: inline-block;
}
.scenario-info {
    display:block;
    margin: 5px;
    font-size: smaller;
}
.scenario-field.scenario-field-luca {
    background-color: #abb8c3;
}
.scenario-field.scenario-field-cwa {
    background-image: linear-gradient(to right,#80cdec 29%,#c00f2d 126%,#c00f2d 126%);
}
.scenario-field.warned {
    border: 2px solid darkred; 
}
.scenario-field.warner {
    border: 3px dotted orange; 
}
.scenario-explain {
    font-style: italic;
}